# =========================
# Vivado / Xilinx
# =========================
.Xil/
*.jou
*.log
vivado*.log
vivado*.jou

# =========================
# XSIM / Simulation
# =========================
xsim.dir/
run/sim/
*.wdb
*.wcfg

# =========================
# Generated RTL / IP output
# =========================
src/rtl/*_vl_rfs.v
src/rtl/*_infrastructure_*.v
src/rtl/axi_register_slice_*.v
src/rtl/*.vh

# =========================
# Editor / OS junk
# =========================
*~
*.swp
.DS_Store